<h2>Edit Team</h2>

<!-- JGZ - nice use of the partial rendering! -->
<%= render partial: "form" %>


<%=form_for @team, method: "delete" do |f| %>
  <%= f.submit "Delete Team", class: "delete"%>
<% end %>
