<h2>Registrations</h2>

  <ul><% @registrations.each do |registration| %>
    <% team = Team.find(registration.team_id) %>
    <li>
      <%= link_to team.team_name, team_path(team)%>
      <%= link_to "(X)", tournament_registration_path(@tournament, registration),
      method: "delete" %>
      <% end %>
    </li>
  </ul>

<div class="new_registration">
  <%= link_to "Register Team", new_tournament_registration_path(@tournament)%>
</div>
