// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team_logo img {
  border-radius: 12px;
  position: relative;
  width: 100%;
}
